//page layout

//모든 컨텐츠 출력되는 부분 (공통 레이아웃)
@mixin contents_div {
  width: 800px;
  height: 100vh;
  background-color: #1c1e24;
  display: flex;
  padding: 60px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  text-align: center;
  color: #fff;
  @media (max-width: 480px) {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 50px 20px;
    box-sizing: border-box;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1c1e24;
  display: flex;
  align-items: center;
  justify-content: center;
  div #root {
    @include contents_div;
  }
}
